<div class="wrapper text-center">
 <div class="container" width: 300px >
   <div class = "row">
     <div class = "col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 ">

      <!-- facebook login button -->
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider) do %>
            <%= image_tag ("fblogin.png"), class:"fblogin-button" %>
          <% end %>
        <% end -%>
      <% end -%>

      <div class="devise-login-text">
        <h2>or Create A New Profile</h2>
      </div>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
