<h1><%= @product_changed.name %> has changed!</h1>

<p>
  <%= "#{@greeting} #{@user_name}" %>, the following product(s) was(were) updated recently, check if it is still safe for you!
</p>
Name: <%= @product_changed.name %><br>
Barcode: <%= @product_changed.barcode %>
<br>
<% if @added_ingredients.first %>
  New ingredients:
  <ul>
    <% @added_ingredients.each do |ingredient_name| %>
    <li><strong><%= ingredient_name %></strong></li>
    <% end %>
  </ul>

<% end %>
<hr>
