<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email_contact %>
  <%= f.input :phone_number %>
  <div class="new-allergy-btn">
    <%= f.button :submit, "Update", class: "btn btn-info" %>
  </div>
<% end %>


