<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <%= image_tag @user.profile_pict, class: "avatar-large" %>
        <h1>Show your profil</h1>
        <p>First name <%= @user.first_name%></p>
        <br><p>Last name <%= @user.last_name%></p>
        <br><p><%= @user.provider%> mail <%= @user.email%></p>
        <br><p>Phone number <%= @user.phone_number%></p>
        <br><p>Email contact : <%= @user.email_contact%></p>
      <%= link_to "Edit", edit_user_path, {class: "btn btn-primary"} %>
<!-- edit_user_path, -->
      <h1>Your allergies</h1>


    </div>
  </div>
</div>

  <%= render 'all_allergies_show_for_one_user_form' %>
  <class class="text-center">
  <br>
<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="new_allergy">

      </div>
      <%= link_to "Add an allergy", "#", {class: "btn btn-primary js-add-form-level-in-user-show"} %></class>
    </div>
  </div>
</div>

<!-- JS du add allergy -->
<% content_for(:after_js) do %>
  <script>
    $(".js-add-form-level-in-user-show").on( "click", function( event ) {
      $(".new_allergy").append("<%= j (render 'allergies/allergy_form', level: @level).html_safe %>")
    });
  </script>
<% end %>


