

<div class="container">
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <ul class="product-controls">
        <img src=<%="#{@user.picture}"%> class="avatar dropdown-toggle"%>
        <h1>Show your profil</h1>
        <p>First name <%= @user.first_name%></p>
        <br><p>Last name <%= @user.last_name%></p>
        <br><p><%= @user.provider%> mail <%= @user.email%></p>
        <br><p>Phone number <%= @user.phone_number%></p>
        <br><p>Email contact : <%= @user.email_contact%></p>
      </ul>
      <%= link_to "Edit", edit_user_path, {class: "btn btn-primary"} %>
      <%= link_to "Add an allergy", new_user_allergy_path(current_user), {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
