  <% allergy = allergy.name %>

  <% case allergy %>
  <% when "milk" %>
    <%= image_tag ("picto_allergies/milk_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "crustacean" %>
    <%= image_tag ("picto_allergies/crustacean_shellfish_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "eggs" %>
    <%= image_tag ("picto_allergies/eggs-picto.png"), class: "review-cards-allergy-icon" %>
  <% when "fish" %>
    <%= image_tag ("picto_allergies/fish_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "peanuts" %>
    <%= image_tag ("picto_allergies/peanuts_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "soybeans" %>
    <%= image_tag ("picto_allergies/soybeans_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "nuts" %>
    <%= image_tag ("picto_allergies/tree_nuts_picto.png"), class: "review-cards-allergy-icon" %>
  <% when "gluten" %>
    <%= image_tag ("picto_allergies/wheat_picto.png"), class: "review-cards-allergy-icon" %>
  <% else %>
    <span>'Unknow icon'</span>
  <% end %>
