<div class="card">
  <div class="card-description">
    <h4><%= review.user.first_name %> <%= review.user.last_name %></h4>
    <div class="card-category inlinelist">
      <li>
        <% review.user.allergies.each do |allergy| %>
          <ol><%= allergy.name %></ol>
        <% end %>
      </li>
    </div>
    <% if review.score == 0 %>
        <h3> Feedback: <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
    <% elsif review.score == 1 %>
        <h3> Feedback: <i class="fa fa-meh-o" aria-hidden="true"></i></h3>
    <% else %>
        <h3> Feedback: <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
    <% end %>
    <h3>Content: <%=review.content%></h3>
    <p><%= review.user.updated_at.strftime(format='%Y/%m/%d') %></p>
  </div>
  <%= image_tag review.user.picture, class: "card-user avatar"%>
</div>
