<p><%= review.user.first_name %> <%= review.user.last_name %> - <%= review.updated_at.strftime(format='%Y/%m/%d') %></p>

<div class="inlinelist review-cards-allergy-list">
  <li class="">
    <% review.user.allergies.each do |allergy| %>
      <ol><%= render 'shared/partial_reviewcards_icons', allergy: allergy %></ol>
    <% end %>
  </li>
</div>

<% if review.score == 0 %>
    <p> Feedback: <i class="fa fa-smile-o" aria-hidden="true"></i></p>
<% elsif review.score == 1 %>
    <p> Feedback: <i class="fa fa-meh-o" aria-hidden="true"></i></p>
<% else %>
    <p> Feedback: <i class="fa fa-frown-o" aria-hidden="true"></i></p>
<% end %>

<p>Message: <%=review.content%></p>


