<% product_eatable = @matching_allergy[:matching_allergy_or_intolerance] %>



<div class="product-show" style="background-color:
  <% if product_eatable == "ok" %>
    #F5F1EE;
  <% elsif product_eatable == "nok" %>
    #FF6C72;
  <% else %>
    #F5F1EE;
  <%end%>
">
  <div class="scss-ingredients-card-mobile padding-top-bottom-mobile">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
         <h1>Allergens in <%=product.name%>   </h1>
          <h2>Allergens</h2>
          <% allergen_ingredients_names = [] %>
          <% @product.allergen_ingredients.each do |allergen| %>
            <% allergen_ingredients_names << allergen.ingredient.any_name %>
          <% end %>
          <% allergen_ingredients_names.uniq! %>
          <% allergen_ingredients_names.each do |allergen_name|%>
            <li><%= "<p>#{allergen_name}</p>".html_safe unless allergen_name.nil? %></li>
          <%end%>

          <h2>Traces</h2>
          <% trace_ingredients_names = [] %>
          <% @product.trace_ingredients.each do |trace| %>
            <% trace_ingredients_names << trace.ingredient.any_name %>
          <% end %>
          <% trace_ingredients_names.uniq! %>
          <% trace_ingredients_names.each do |trace_name| %>
              <li><%= "<p>#{trace_name}</p>".html_safe unless trace_name.nil? %></li>
          <% end %>

          <h2>Ingredients</h2>
          <% significant_ingredients_names = [] %>
          <% @product.significant_ingredients.each do |sig_ingredient|%>
            <% significant_ingredients_names << sig_ingredient.ingredient.any_name if sig_ingredient.ingredient %>
          <% end %>
          <% significant_ingredients_names.uniq! %>
          <% significant_ingredients_names.each do |ingredient_name| %>
            <li><%= "<p>#{ingredient_name}</p>".html_safe unless ingredient_name.nil? %></li>
          <%end%>
          <p class="padding-bottom-mobile"><a class="btn btn-classic" href='/products/<%=@product.id%>/edit' role="button">Edit</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
