<div class="mobile-show-title-h1 text-center">
  <h1><%=@product.name%></h1>
  <h2><%=@product.manufacturer%></h2>
</div>
<div class="text-center avatar-product">
  <%= image_tag @product.img_url %>
</div>

<!-- Match? -->
<% if @product_eatable == true %>
  <p>You can eat me, you lucky!</p>
<%else%>
  <p>Do NOT eat me!</p>
<%end%>

<!-- Display significative allergens in product matching user's-->
<div class="picto-allergies">
  <% @significative_allergens_matching_product_and_users.each do |allergen| %>
    <% if !(allergen.fr_name.nil?) %>
      <% case allergen.fr_name %>
        <% when "lait" %>
          <%= image_tag "picto_allergies/milk_picto.png" %>
        <% when "oeuf" %>
          <%= image_tag "picto_allergies/eggs-picto.png" %>
        <% when "poisson" %>
          <%= image_tag "picto_allergies/fish_picto.png" %>
        <% when "coquillage" %>
          <%= image_tag "picto_allergies/crustacean_shellfish_picto.png" %>
        <% when "cacahuete" %>
          <%= image_tag "picto_allergies/peanuts_picto.png" %>
        <% when "soja" %>
          <%= image_tag "picto_allergies/soybeans_picto.png" %>
        <% when "noix" %>
          <%= image_tag "picto_allergies/tree_nuts_picto.png" %>
        <% when "ble" %>
          <%= image_tag "picto_allergies/wheat_picto.png" %> -->
      <% end %>
    <% elsif !(allergen.en_name.nil?) %>
      <% case allergen.en_name %>
        <% when "milk" %>
          <%= image_tag "picto_allergies/milk_picto.png" %>
        <% when "egg" %>
          <%= image_tag "picto_allergies/eggs-picto.png" %>
        <% when "fish" %>
          <%= image_tag "picto_allergies/fish_picto.png" %>
        <% when "crustacean" %>
          <%= image_tag "picto_allergies/crustacean_shellfish_picto.png" %>
        <% when "peanuts" %>
          <%= image_tag "picto_allergies/peanuts_picto.png" %>
        <% when "soybeans" %>
          <%= image_tag "picto_allergies/soybeans_picto.png" %>
        <% when "tree_nuts" %>
          <%= image_tag "picto_allergies/tree_nuts_picto.png" %>
        <% when "wheat" %>
          <%= image_tag "picto_allergies/wheat_picto.png" %> -->
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- btn star -->
<!-- Returns true if the product is tracked by the user, false if it is untracked -->
<div class="folow-btn">
  <% product_tracked_by_user = !(@product.tracked_products.find_by_user_id(current_user.id).nil?) %>
  <% if product_tracked_by_user %>
    <%= link_to "Untrack", product_untrack_path(@product), method: :delete, class: "untrack-btn" %>
  <% else %>
    <%= link_to "Track", product_track_path(@product), method: :post , class: "track-btn"%>
  <% end %>
</div>
<div class="folow-btn">
  <p>Product barcode:  <%=@product.barcode%></p>
  <p>Last update:      <%=@product.updated_on%></p>
</div>

<!-- <div class="folow-btn">
  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> folow
  </button>
</div> -->


