<div class="mobile-show-title-h1 text-center">
  <h1><%=@product.name%></h1>
  <h2><%=@product.manufacturer%></h2>
</div>
<div class="text-center avatar-product">
  <%= image_tag @product.img_url %>
</div>
<!-- btn star -->
<!-- Returns true if the product is tracked by the user, false if it is untracked -->

<div class="folow-btn">
  <p>Product barcode:  <%=@product.barcode%></p>
  <p>Last update:      <%=@product.updated_on%></p>
</div>


