<!-- Color page depending on eat/non eat -->

<% product_eatable = @matching_allergy[:matching_allergy_or_intolerance] %>



<div class="product-show" style="background-color:
  <% if product_eatable == "ok" %>
    #F5F1EE;
  <% elsif product_eatable == "nok" %>
    #fbd1d1;
  <% else %>
    #F5F1EE;
  <%end%>
">

<div class="product-top">
  <div class="padding-top-bottom-mobile text-center">
    <h1><%=@product.name%></h1>
  </div>

  <div class="text-center avatar-product">
    <%= image_tag @product.img_url %>
  </div>
<% product_eatable = @matching_allergy[:matching_allergy_or_intolerance] %>
  <div class="text-center avatar-alert">
    <% if product_eatable == "ok" %>
      <%= image_tag "product_card/green_check.png" %>
    <% elsif @product_eatable == "nok" %>
      <%= image_tag "product_card/orange_alerte.png" %>
    <% else %>
      <%= image_tag "product_card/red_cross.png" %>
    <%end%>
  </div>


  <!-- Returns true if the product is tracked by the user, false if it is untracked -->
  <!-- <div class="follow-btn-block"> -->
    <div class="folow-btn">
      <% product_tracked_by_user = !(@product.tracked_products.find_by_user_id(current_user.id).nil?) %>
      <% if product_tracked_by_user %>
        <%= link_to "Unfollow", product_untrack_path(@product), method: :delete, class: "btn btn-classic" %>
      <% else %>
        <%= link_to "Follow", product_track_path(@product), method: :post , class: "btn-classic btn"%>
      <% end %>
    </div>
  </div>


<div class="product-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>ALLERGENS IN THE PRODUCT</h2>



        <% no_matching_allergies = !(@pictos_for_allergies_match_with_profil).empty? %>

        <% no_allergies = !(@pictos_for_allergies_no_match_with_profil).empty? %>

        <% if (no_allergies || no_matching_allergies)%>
            <h3>Significant amount</h3>
        <% end %>


        <div>

              <p><div class="picto-allergies">
                <% @pictos_for_allergies_match_with_profil.each do |picto_for_allergies_match_with_profil| %>
                  <span class="picto-allergies" ><%= image_tag(picto_for_allergies_match_with_profil, class: "pictos_match_with_profil") %>
                  </span>
                <% end %>
        <!-- qte significative d'allergène qui ne match pas avec le profil -->
              <% @pictos_for_allergies_no_match_with_profil.each do |picto_for_allergies_no_match_with_profil| %>
                <span class="pictos_for_allergies_no_match_with_profil picto-allergies"><%= image_tag(picto_for_allergies_no_match_with_profil) %>
                </span>
              <% end %><p>
          </div>


            <div class="traces">


            <% no_matching_traces = !(@pictos_for_traces_match_with_profil).empty? %>

            <% no_traces = !(@pictos_for_traces_no_match_with_profil).empty? %>

            <% if (no_traces || no_matching_traces)%>
                <h3>Traces</h3>
            <% end %>



              <p class="picto-allergies">
          <!-- trace d'allergène qui match avec le profil -->
                <% @pictos_for_traces_match_with_profil.each do |picto_for_traces_match_with_profil| %>
                  <span ><%= image_tag(picto_for_traces_match_with_profil, class: "pictos_match_with_profil") %></span>
                <% end %>

          <!-- trace d'allergène qui ne match pas avec le profil -->
                <% @pictos_for_traces_no_match_with_profil.each do |picto_for_traces_no_match_with_profil| %>
                  <span class="pictos_for_traces_no_match_with_profil"><%= image_tag(picto_for_traces_no_match_with_profil, class: "picto-allergies") %>
                  </span>
                <% end %>
              </p>
</div>
              </div>

              <div class="info-product padding-bottom-mobile-60">
                <h2><%=@product.manufacturer%></h2>
                <p>Product barcode:  <%=@product.barcode%></p>
                <p>Last update:      <%=@product.updated_on%></p>
              </div>
    </div>
    </div>


</div>
</div>
</div>


<!-- <div class="folow-btn">
  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> folow
  </button>
</div> -->


