<div class="product-top">
  <div class="padding-top-bottom-mobile text-center">
    <h1><%=@product.name%></h1>
  </div>

  <div class="text-center avatar-product">
    <%= image_tag @product.img_url %>
  </div>

  <div class="text-center avatar-alert">
    <%= image_tag "product_card/orange_alerte.png" %>
  </div>


  <!-- Returns true if the product is tracked by the user, false if it is untracked -->
  <!-- <div class="follow-btn-block"> -->
    <div class="folow-btn">
      <% product_tracked_by_user = !(@product.tracked_products.find_by_user_id(current_user.id).nil?) %>
      <% if product_tracked_by_user %>
        <%= link_to "Unfollow", product_untrack_path(@product), method: :delete, class: "btn btn-classic" %>
      <% else %>
        <%= link_to "Follow", product_track_path(@product), method: :post , class: "btn-classic btn"%>
      <% end %>
    </div>
  </div>


<div class="product-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>ALLERGENS IN THE PRODUCT</h2>
        <h3>Significant amount</h3>
    </div>
  </div>
  <!-- picto intelligent -->

    <div class="row">
      <div class="col-xs-12">
  <!-- qte significative d'allergène qui match avec le profil -->
        <p class="picto-allergies">
          <% @pictos_for_allergies_match_with_profil.each do |picto_for_allergies_match_with_profil| %>
            <span class="picto-allergies" ><%= image_tag(picto_for_allergies_match_with_profil, class: "pictos_match_with_profil") %>
            </span>
          <% end %>
  <!-- qte significative d'allergène qui ne match pas avec le profil -->
        <% @pictos_for_allergies_no_match_with_profil.each do |picto_for_allergies_no_match_with_profil| %>
          <div class="pictos_for_allergies_no_match_with_profil picto-allergies"><%= image_tag(picto_for_allergies_no_match_with_profil) %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Traces</h3>
      <p class="picto-allergies">
  <!-- trace d'allergène qui match avec le profil -->
        <% @pictos_for_traces_match_with_profil.each do |picto_for_traces_match_with_profil| %>
          <div class="picto-allergies"><%= image_tag(picto_for_traces_match_with_profil) %></div>
        <% end %>

  <!-- trace d'allergène qui ne match pas avec le profil -->
        <% @pictos_for_traces_no_match_with_profil.each do |picto_for_traces_no_match_with_profil| %>
          <span class="pictos_for_traces_no_match_with_profil picto-allergies"><%= image_tag(picto_for_traces_match_with_profil, class: "pictos_match_with_profil") %>
          </span>
        <% end %>
      </p>

      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 ">
        <div class="info-product">
          <h2><%=@product.manufacturer%></h2>
          <p>Product barcode:  <%=@product.barcode%></p>
          <p>Last update:      <%=@product.updated_on%></p>
        </div>
      </div>
    </div>
</div>


</div>
</div>

<!-- <div class="folow-btn">
  <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> folow
  </button>
</div> -->


