<div class="scss-reviews-card-mobile">
  <h3>Allergy Reviews</h3>
  <div class="inlinelist text-center">
    <li>
      <ol class="ol-first"><i class="fa fa-smile-o" aria-hidden="true"></i> <%= @score_zero %></ol>
      <ol><i class="fa fa-meh-o" aria-hidden="true"></i> <%= @score_one %></ol>
      <ol><i class="fa fa-frown-o" aria-hidden="true"></i> <%= @score_two %></ol>
    </li>
  </div>
  <% reviews.each do |review|%>
    <div class="review-card">
      <%= render 'shared/review_card', review: review %>
    </div>
  <%end%>
  <div class="text-center">
    <%= link_to "New review", new_product_review_path(@product), class: "btn btn-primary" %>
  </div>
</div>
