<div class="scss-reviews-card-mobile">
  <div class="text-center review-page-title">
    <h1>Allergy Reviews for <%= @product.name %></h1>
  </div>
  <div class="inlinelist text-center review-average-icons">
    <li>
      <ol class="ol-first"><i class="fa fa-smile-o" aria-hidden="true"></i> <%= @score_zero %></ol>
      <ol><i class="fa fa-meh-o" aria-hidden="true"></i> <%= @score_one %></ol>
      <ol><i class="fa fa-frown-o" aria-hidden="true"></i> <%= @score_two %></ol>
    </li>
  </div>
  <div class="container">
    <div class="row">

        <% reviews.each do |review|%>
        <div class="col-sm-5">
          <div class="review-card">
            <%= render 'shared/review_card', review: review %>
          </div>
        </div>
        <%end%>
    </div>
    <div class="row">
        <div class="text-center padding-bottom-mobile-60">
          <%= link_to "New review", new_product_review_path(@product), class: "btn btn-classic" %>
        </div>

    </div>
  </div>
</div>
