<!-- Not for mobile -->
<div class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
<!-- partial product -->
        <%= render 'product_edit', product: @product %>
      </div>
    </div>
<!-- partial ingredients -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= render 'ingredients_edit', product: @product %>
      </div>
    </div>
  </div>
</div>
<!-- mobile -->

  <!-- product card -->
  <div class="product-card-mobile">
    <%= render 'product_edit', product: @product %>
  </div>
  <div class="ingredient-card-mobile hide">
    <%= render 'ingredients_edit', product: @product %>
  </div>

  <div class="footer">
    <%= render 'shared/footer_mobile' %>
  </div>

</div>
