<h1><%=@product.name%></h1>
<h2><%=@product.manufacturer%></h2>
<p><%=@product.barcode%></p>
<p><%=@product.updated_on%></p>
<h3>Ingredients</h3>
<%@product.ingredients.each do |ingredient|%>
  <p><%=ingredient.fr_name%></p>
<%end%>
<h3>Allergies</h3>
<% @product.ingredients.each do |ingredient|%>
  <% ingredient.allergies.each do |allergy| %>
    <p><%=allergy.name%></p>
  <%end%>
<%end%>
