<div class="js-background-color nok">
  <!-- Not for mobile -->
  <div class="hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
  <!-- partial product -->
          <%= render 'product_show', product: @product %>
        </div>
      </div>
  <!-- partial ingredients -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= render 'ingredients_show', product: @product %>
        </div>
      </div>
  <!-- partial reviews -->
      <div class="row">
        <div class="col-sm-12">
          <%= render 'reviews_show', reviews: @reviews %>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="mobile-box hidden-sm hidden-lg hidden-md">
    <a href="/" class="logo-shazam hidden-sm hidden-lg hidden-md">
      <%= image_tag "logo-shazam.png" %>
    </a>
    <!-- product card -->
    <div class="product-card-mobile">
      <%= render 'product_show', product: @product %>
    </div>
    <div class="ingredient-card-mobile hide">
      <%= render 'ingredients_show', product: @product %>
    </div>
    <div class="reviews-card-mobile hide">
      <%= render 'reviews_show', reviews: @reviews %>
    </div>
    <div class="footer">
      <%= render 'shared/footer_mobile' %>
    </div>

  </div>
</div>


<%= content_for(:after_js) do%>
  <script>
    // passer la carte en rouge -> NOK
    $(document).ready(function(){
      var match = "<%= @matching_allergens %>";

      if (match == "nok") {
      // couleur fond de carte
          $(".js-background-color").removeClass("ok");
          $(".js-background-color").removeClass("alert");
          $(".product-card-mobile").addClass("nok");
      }

        // couleur du footer
      // passer la carte en orange -> ALERT

      else if (match == "alert") {
        // couleur fond de carte
        // couleur du footer
      }

      // passer la carte en rouge -> OK

      else if (match == "ok") {
        // couleur fond de carte
        // couleur du footer
      }

      else {

      }
    });
  </script>
<% end %>



