<h1><%=@product.name%></h1>

<h2><%=@product.manufacturer%></h2>

<p><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
'.html_safe, edit_product_path(@product), {class: "edit"} %></p>


<!-- Returns true if the product is tracked by the user, false if it is untracked -->
<% product_tracked_by_user = !(@product.tracked_products.find_by_user_id(current_user.id).nil?) %>
<% if product_tracked_by_user  %>
  <p><%= link_to "Untrack", product_untrack_path(@product), method: :delete, class: "untrack-btn" %></p>
<% else %>
  <p><%= link_to "Track", product_track_path(@product), method: :post , class: "track-btn"%></p>
<% end %>

<p><%=@product.barcode%></p>
<p><%=@product.updated_on%></p>

<h3>Ingredients</h3>

<%@product.ingredients.each do |ingredient|%>
  <p><%=ingredient.fr_name%></p>
<%end%>

<h3>Allergies</h3>

<% @product.ingredients.each do |ingredient|%>
  <% ingredient.allergies.each do |allergy| %>
    <p><%=allergy.name%></p>
  <%end%>
<%end%>

<h3>Reviews</h3>
<% @product.reviews.each do |review|%>
    <p>Score: <%=review.score%></p>
    <p>Content: <%=review.content%></p>
<%end%>

<%= link_to "New review", new_product_review_path(@product), class: "btn btn-primary" %>

