<h3>Leave a review</h3>

<%= simple_form_for @product, url: product_reviews_path(@product), method: :post do |m| %>
  <%= m.simple_fields_for @review do |p| %>
    <%= p.input :score %>
    <%= p.input :content %>
    <%= p.button :submit %>
  <% end %>
<% end %>
